html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: monospace;
	font-size: 1.2em;
	padding-bottom: 700px;
}

 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  empty-cells: show;
}

.red-text {
	color: red;
}

#header-bar {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  background: #416788;
  color: white;
  font-size: 0.9em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10px;
}

.component-edit-grid {
	display: grid;
	grid-template-columns: 15% 21% 21% 21% 21%;
	border-bottom: 1px solid black;
	box-shadow: 3px 3px 3px grey;
}

.component-edit-grid-descriptor {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

}

.component-edit-descriptor {

}

.component-edit-grid-col {
	display: grid;
	grid-template-columns: 20% 80%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 10px;
	padding-left: 4px;
	padding-right: 4px;
}

.component-edit-grid-inner-col {
		margin-top: 10px;
		margin-bottom: 10px;
}

.fills {
	width: 100%;
}

.inner-header-bar:hover {
	color: #FA003F;
	cursor: pointer;
}

.component-list {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-left: 10px;
}

#localization-entry {
  width: 95%;
  font-size: 1.2em;
}

#tag-travel {
	width: 95%;
	font-size: 1.2em;
}

#tag-entry {
	width: 95%;
  font-size: 1.2em;
}

#tag-removal {
  width: 95%;
  font-size: 1.2em;
}

#tag-check {
  width: 95%;
  font-size: 1.2em;
}

#run-grid-edit {
	width: 95%;
	font-size: 1.2em;
}

#run-grid {
	width: 95%;
	font-size: 1.2em;
}

#tag-not-check {
  width: 95%;
  font-size: 1.2em;
}

#variable-entry {
	width: 95%;
	font-size: 1.2em;
}

#variable-check {
	width: 95%;
	font-size: 1.2em;
}

#variable-not {
	width: 95%;
	font-size: 1.2em;
}

#variable-entry-edit {
	width: 95%;
	font-size: 1.2em;
}

#variable-check-edit {
	width: 95%;
	font-size: 1.2em;
}

#variable-not-edit {
	width: 95%;
	font-size: 1.2em;
}

.component-option {
	width: 90%;
	font-size: 1.2em;
	margin-left: 5%;
}

.component-trigger {
	width: 90%;
	font-size: 1.2em;
	margin-left: 5%;
}

.scope-trigger-option {
	float: right;
}

.scope-trigger-edit-input-label {

}



#component-entry {
	margin-top: 30px;
}

#component-edit {
	display: none;
	margin-bottom: 50px;
}

.component-edit-input {
	padding-left: 5px;
	display: grid;
	grid-template-columns: 15% 85%;
}

#localization-edit {
	width: 95%;
	font-size: 1.2em;
}

#travel-edit {
	width: 95%;
	font-size: 1.2em;
}

#set-edit {
	width: 95%;
	font-size: 1.2em;
}

#remove-edit {
	width: 95%;
	font-size: 1.2em;
}

#has-edit {
	width: 95%;
	font-size: 1.2em;
}

#not-edit {
	width: 95%;
	font-size: 1.2em;
}

#check-game-tags {
	width: 95%;
	font-size: 1.2em;
}

#check-game-tags-edit {
	width: 95%;
	font-size: 1.2em;
}

#component-probability-edit {
	width: 95%;
	font-size: 1.2em;
}

#component-probability {
	width: 95%;
	font-size: 1.2em;
}

#bottom-component-edit-bar {
	margin-top: 20px;
	background: #416788;
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	color: white;
	width: 100%;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.clickable-cell-component-list {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	width: 70vw;
}

.clickable-cell-component-list:hover {
	cursor: pointer;
	color: #FA003F;
}

#create-component-button {
	margin-top: 10px;
  width: 100%;
  font-size: 1.2em;
  background: #00916E;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#create-component-button:hover {
	background: #FA003F;
	cursor: pointer;
}

#component-creation {
	position: absolute;
  z-index: 1;
	width: 100%;
}

.inner-header-bar {
  text-align: center;
}

.center-text {

	text-align: center;
}

.edit-component-header {
	margin-bottom: 20px;
	font-size: 1.2em;
	font-weight: bold;
}

.edit-subheading {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background:#416788;
	color: white;
	border: 1px solid black;
}

#event-entry-wrapper {
  display: block;
  height: 97vh;
	padding-left: 50px;
	padding-right: 50px;
}



#delete-grid-button {
	margin-top: 2px;
	margin-bottom: 2px;
}

.event-map-cell {
  width: 2vw;
  height: 2vw;
  border: 1px solid black;
}

.component-list-entry {
  width: 70%
}

.tooltip {

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 29vw;
	height: 50vh;
  background-color: rgba(30, 100, 150, 0.95);
	border: 1px solid white;
	box-shadow: 3px 3px 3px grey;
  color: white;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
	bottom: 0px;
	right: 0px;
  position: fixed;
  z-index: 1;
	white-space: pre-wrap;
	padding: 5px;
	font-size: 1.3em;
	opacity: 0;
	transition: opacity 5s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
	opacity: 1;
}

#setting-edit-block {

}

.component-edit-descriptor {
	justify-content: center;
}

.center-text {
	justify-content: center;
}

.center-middle {
	align-items: center;
}

.freestyle-text-entry {
	width: 97%;
	height: 200px;
	resize: none;
}


#trigger-block {
	display: none;
}

#immediate-block {
	display: none;
}

#options-block {
	display: none;
}

#after-block {
	display: none;
}

#right-side-menu {
	background:#416788;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.3em;
	display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
}

#scopes-div {
	display: none;
}

.scopes-grid-column select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.right-heading-button {
	text-align: center;
}

.right-heading-button:hover {
	cursor: pointer;
	color: #FA003F;
}

.big-input {
	width: 95%;
	margin-left: 5px;
}

.big-underlined-text {
	font-size: 1.15em;
	text-decoration: bold;
	margin-bottom: 10px;
	padding-left: 5px;
}

.big-option-textarea {
	margin-left: 5px;
	width: 95%;
	height: 200px;
	resize: none;
}

#localization-box {
	display: none;
}

#save-generator-settings {
	font-size: 1.3em;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
	background: #00916E;
	color: white;
	border: 1px solid grey;
	box-shadow: 3px 3px 3px grey;
	text-align: center;
	margin-top: 50px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#save-generator-settings:hover {
	cursor: pointer;
	box-shadow: 5px 5px 5px grey;
}

#code-box {
	display: none;
}

#generator-settings-box {
	display: none;
	padding-top: 50px;
}

#on-action {
	display: none;
}



#json-placeholder {
	display: none;
}

#code-download-link:hover {
	box-shadow: 5px 5px 5px grey;
}


.grid-buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: 1px solid black;
	background: #00916E;
	color: white;
}

.grid-buttons:hover {
	background: #FA003F;
	color: white;
	cursor: pointer;
}

.full-select {
	width: 100%;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 1.2em
}

.full-select-no-margin {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 1.2em
}

.scope-add-delete-buttons {
	background: #00916E;
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
}



.scope-add-delete-buttons:hover {
	background: #FA003F;
	cursor: pointer;
}

.add-triggers-to-scope-button {
	background: #00916E;
	color: white;
	border: 1px solid black;
}

.add-triggers-to-scope-button:hover {
	cursor: pointer;
	background: #FA003F;
}

#save-scope-triggers-button {
	background: #00916E;
	color: white;
	border: 1px solid black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.1em;

}

#save-scope-triggers-button:hover {
	cursor: pointer;
	background: #FA003F;
}

#scope-triggers-box {
	display: none;
	background: #2d343a;
	color: white;
	width: 100vw;
	min-height: 100vh
}

#scope-triggers-inner-box {
	display: block;
}

.scope-heading {
	font-weight: bold;
}

.scope-trigger-selection {
	width: 90%;
}
